@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,600;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: lightblue;
}

.wrapper{
    width: 900px;
    max-width: 900px;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
    float: left;
    padding: 0 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: white;
}
